#recommendations .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#recommendations .grid .item {
    margin-bottom: 20px;
    max-height: 200px;
    position: relative;
}

#recommendations .grid .item .image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}